body{
    font-family: open Sans;
    margin: 0;
    padding: 0px;
    color: #838b97;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
    display: table;
    text-align: center;
} 

.spinner {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
  width: 70px;
  text-align: center;
}

.cube2 {
  background-color: #db1638;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube1{
  background-color: #2d2d2d;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}



.container {
    width: 100%;
    max-width: 1200px;
}

input:focus{
    outline:none;
}

.support-aria {
    background-color: #50a4f3 !important;
    border-bottom: 2px solid #db1638;
}



.image_header img{
  width: 100%;
  height: 320px;
  
}

.menu-main{
    background-color: #fff;
    font-family: '';
    border: none;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0 0 65px rgba(0,0,0,0.09);
    margin-bottom: 0px;
    
}
.menu-main .left-content-bar-hidden{
	margin-top: 14px;
}

.menu-main .left-content-bar-hidden a{
 	text-decoration: none;
 	color: #000;
 	font-size: 25px;
 	font-weight: 700;
}


.menu-main ul{
    list-style-type: none;
    padding-left: 150px;
    margin-bottom: 0px;
}

.menu-main ul li{
    float: left;
    position: relative;
    padding: 1px 10px;
    line-height: 45px;
}

.menu-main ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 9px;
    transition: 0.8s;
    font-weight: 600;
    display: block;
}

.menu-main ul li a i{
    font-size: 12px;
    padding-left: 5px;
}

.menu-main .up-item {
    /* display: none; */
    position: absolute;
    top: -20px;
    color: #db1638;
    font-size: 30px;
    left: 30px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.fa-bar-menu{
    font-size: 20px;
    padding: 16px 16px;
    line-height: 45px;
    display: none;
    
}

.fa-bar-menu i{
    color: #000;
    border:1px solid #eee;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.menu-bar{
    background: transparent;
    color: #fff;
    font-size: 24px;
    border: none;
}

.nav-item-blog .dropdown-menu {
    transition: all 0.3s;
    top: 100%;
    width: 100%
}

.nav-item-blog:hover .dropdown-menu {
    padding: 0;
    border-radius: 0;
    display: block;
    margin: 0;
    transition: 0.5s;
}

.nav-item-blog:hover .dropdown-menu .dropdown-item:hover {
    background-color: #db1638;
    display: block;
    color: #000;
}

.nav-item-blog:hover .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: 600;
    color: #737286;
    transition: all 0.3s;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.right-btn-wrapper ul li{
    float: left;
    position: relative;
    padding: 9px;
    line-height: 45px;
    padding-top: 26px;
    color: #000;
    cursor: pointer;
}

.right-btn-wrapper ul li span{
    position: absolute;
    top: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 20px;
    right: 0px;
    padding: 0;
    top: 30px;
    cursor: pointer;
    background-color: #000;
}

.banner-header{
    background-image: url(../image/header-bg-3.jpg);
    background-size: cover;
    padding: 191px 0px 200px 0px;
    background-position: center;
}

.banner-header .spring .subtitle{
    text-transform: uppercase;
    font-weight: 700;
    color: #f45832;
    line-height:26px;
    letter-spacing: 3px;
    display: block;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}

.banner-header .spring  .title{
    font-size: 50px;
    color: #000;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    letter-spacing: -2px;
    line-height: 80px;
    margin-bottom: 18px;

}

.banner-header p{
    font-size: 20px;
    display: block;
    line-height: 30px;
    max-width: 500px;
    color: #838b97;
    font-family: "Rubik", sans-serif;

}

.banner-header .btn-new{
    padding-top: 30px;
    font-weight: 700;
}

.banner-header .btn-new .btn-index{
    border: 2px solid #d1d2d3;
    background-color: transparent;
    color: #6e7683;
    width: 240px;
    border-radius: 30px;
    margin: 0px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    display: inline-block;
    line-height: 60px;
    height: 60px;
    color: #6e7683;
}

.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 99999999;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.body-overlay .x-hidden{
    float: right;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.body-overlay .x-hidden:hover{
    color: #db1638;
}

.active-body-overlay {
    visibility: visible;
    opacity: 1;
}

.search-popup .search-popup-form {
    min-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}

.search-popup .search-popup-form .form-element .input-field {
    border: none;
    font-family: "Rubik", sans-serif;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.input-field {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 5px;
    color: #7c7c90;
    background: white;
}

.search-popup.home-3 .search-popup-form .submit-btn-hidden {
    background-color: #db1638;
}

.search-popup .search-popup-form .submit-btn-hidden {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submit-btn-hidden {
    width: 250px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: #573623;
    text-transform: uppercase;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.support-bar .right-content-bar ul li .support-aria-search .form-elemet .input-field::placeholder{
    padding-left: 10px;
}

.search-popup .search-popup-form .submit-btn-hidden:hover{
    background: #000;
}

.boxed-btn {
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 160px;
    background-color: #;
    padding: 0 20px;
    transition: all 0.3s;
}

.menu-2 li.search i{
    padding-top: 25px;
    color: #000;
}

.padding-left-menu{
    padding-left: 110px;
}

.menu-main ul li:hover a{
    color: #db1638;
}

.video-area {
    position: relative;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-position: center center;
}

.video-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.video-table {
    display: table;
    width: 100%;
    height: 100%;   
}

.float-left-none{
    position: relative;

}

.float-left-none span{
    position: absolute;
    top: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 20px;
    right: 8px;
    padding: 0;
    top: 18px;
    cursor: pointer;
    background-color: #000;
}

.video-table-cell {
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 100px;
}

.video-table-cell h2{
    display: inline-block;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    font-family: '';
    /* font-weight: 400; */
    /* text-transform: uppercase; */
    line-height: 150%;
    text-align: center;
}


.video-effect{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.video-effect-box {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 40px;
    background: transparent;
    border-radius: 5px;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.video-effect-content {
    margin: auto;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.video-effect-content h2 {
    
    -webkit-transform: translateZ(70px);
    transform: translateZ(70px);
}

.video-effect-content h3{
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}


@media screen and (max-width:767px) {
    .video-table-cell h2{
        font-size: 30px;
    }
    .video-effect-box{
        padding: 20px;
    }
}

.home_search
{
    width: 100%;
  /*  height: 0;
    background: #FFFFFF;*/
    margin-top: 150px;
    z-index: 1;
}
.home_search_container
{
    /*position: absolute;*/
    /*top: -339px;*/
    /*width: calc(100% + 122px);
    left: -61px;*/
    padding-top: 47px;
    padding-left: 61px;
    padding-right: 61px;
    padding-bottom: 59px;
    background: rgba(255,255,255,0.26);
    border-radius: 12px;
}
.home_search_title
{
    width: 247px;
    height: 55px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 55px;
    font-family:  sans-serif!important;
    font-size: 18px;
    color: #2e2e2e;
    font-weight: 400;
    text-align: center;
}
.home_search_content
{
    width: 100%;
    background: #FFFFFF;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 67px;
    padding-right: 83px;
}
.search_input
{
    height: 50px;
    background: #f2f5f6;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 7px;
    padding-left: 17px;
    font-family:  ''!important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #72728c !important;
}

.home_search_content .search_input::placeholder
{
    font-family: sans-serif;
    color: #f1f1f1;
}

/*.search_input_1
{
    width: 25%;
}*/
.search_input_2
{
    width: 15%;
}
.search_input_3
{
    width: 15%;
}
.search_input_4
{
    width: 20%;
}
.search_input::-webkit-input-placeholder
{
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}
.search_input:-moz-placeholder
{
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}
.search_input::-moz-placeholder
{
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
} 
.search_input:-ms-input-placeholder
{ 
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}
.search_input::input-placeholder
{
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #72728c !important;
}
.home_search_button
{
    width: 161px;
    height: 52px;
    background: #db1638;
    color: #FFFFFF;
    font-family: initial;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.home_search_button:hover
{
    background: #ef2b4d;
}


@media only screen and (max-width: 1480px)
{
     .home_page_nav {
        right: 60px;
    }
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
   
.home_page_nav {
    position: absolute;
    right: -40px;
    top: 35%;
    z-index: 2;
    float: right;
}

.home_page_nav ul li {
    position: relative;
}
.home_page_nav ul li:not(:last-child) {
    margin-bottom: 32px;
}

.home_page_nav ul li a {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: rgba(255,255,255,0.63);
    transition: all 400ms ease;
    text-decoration: none;
}

.home_page_nav ul li:hover a {
    color: rgba(255,255,255,1);
}

.home_page_nav ul li:hover::after {
    visibility: visible;
    opacity: 1;
    background: rgba(255,255,255,1);
    width: calc(100% + 28px);
}
.home_page_nav ul li::after {
    display: block;
    position: absolute;
    right: -4px;
    bottom: -6px;
    width: 0px;
    height: 2px;
    background: rgba(255,255,255,0.63);
    visibility: hidden;
    opacity: 0;
    content: '';
    transition: all 400ms ease;
}

.home_page_nav ul li span {
    margin-left: 30px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    float: right;
}

.intro {
    width: 100%;
    background: #FFFFFF;
    z-index: 1;
}


.intro_background {
    position: absolute;
    top: 630px;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.intro_container {
    width: 100%;
    border-bottom: solid 2px #e4e6e8;
    padding-top: 141px;
    padding-bottom: 90px;
}

.intro_icon {
    width: 70px;
    height: 71px;
    float: left;
    margin-right: 20px;
}

.intro_icon img{
    max-width: 100%;
}

.intro_content {
    padding-left: 28px;
    padding-top: 15px;
}

.intro_title {
    font-family: '';
    font-size: 18px;
    color: #181818;
    font-weight: 600;
}

.intro_subtitle{
    font-family: '';
    font-size: 16px;

}

p:last-of-type {
    margin-bottom: 0;
}


.dark-button{
    background: #db1638;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 25px 10px 15px;       
  -webkit-transition-duration: .3s;
  transition-duration: .3s;     
}

.dark-button:after{
    content: '';
    font-family: FontAwesome;
    display: inline-block;
    color: #bda87f;
    padding-left: 10px;
    margin-left: -20px;
    opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;     
}
.dark-button:hover:after{
    color: #fff;
    font-family: fontello;
    margin-left: 0px;
    font-size: 14px;
    opacity: 1;
}

.dark-button:hover{
    background: #bd0525;
    color: #fff;
    padding-right: 15px;
}



.destinations {
    width: 100%;
    background: #FFFFFF;
    padding-top: 115px;
    padding-bottom: 60px;
}

.destination-item-view{
    border: none;
    padding-bottom: 70px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}



/*.text-center {
    text-align: center!important;
}*/

.section_subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72728c;
    line-height: 0.75;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.section_title {
    color: #181818;
    margin-top: 26px;
}

.section_title h2{
    font-weight: 700;
}

.destinations_row {
    margin-top: 99px;
}

.destinations_container {
   /* width: calc(100% + 30px);
    left: -15px;*/
    position: relative;
    /*height: 832.782px;*/
}

.destination_image img{
    max-width: 100%;
    height: 170px;
    width: 270px;
}

.spec_offer {
   
    top: 9px;
    left: 25px;
    position: absolute;
  
}

.spec_offer a {
    display: block;
    font-family: 'Oswald', sans-serif;
    
    text-decoration: none;
}


.destination_title {
    margin-top: 15px;
}

.destination_title a {
    margin-left: 4px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    color: #181818;
    margin-bottom: 4px;
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: Ellipsis;
}

.destination_subtitle {
    margin-top: -4px;
}


.destination_subtitle p{
    margin-left: 4px;
    display: block;
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: Ellipsis;
}

p:last-of-type {
    margin-bottom: 0;
}

.destination_price {
    font-size: 16px;
    font-weight: 700;
    color: #181818;
    margin-top: 16px;
    margin-left: 4px;
    color: #ff002d;
    text-shadow: 1px 1px 2px #ffba8a;
}

.destination {
    margin-bottom: 33px;
}


.float-item-destination{
    float: right;
    margin-top: 30px;
    margin-right: 5px;

}

/*--------------------Milestones--------------------*/
.milestones
{
    width: 100%;
    background: #f3efe7a3;
    padding-top: 70px;
    padding-bottom: 70px;
}

.milestone
{
    width: 100%;
}
.milestone_icon
{
    display: inline-block;
    height: 82px;
    width: 82px;
}
.milestone_icon img
{
    max-width: 100%;
}
.milestone_counter
{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #181818;
    line-height: 0.75;
    margin-top: 35px;
}
.milestone_text
{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #838383;
    margin-top: 31px;
    line-height: 0.75;
}
.news
{
    width: 100%;
    background: #FFFFFF;
    padding-top: 115px;
    padding-bottom: 115px;
}
.news_post:not(:last-child)
{
    margin-bottom: 68px;
}
.news_post_image
{
    width: 34.8%;
}
.news_post_image img
{
    max-width: 100%;
}
.news_post_content
{
    width: 65.2%;
    padding-left: 30px;
}
.news_post_date div:first-child
{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #181818;
    line-height: 0.75;
}
.news_post_date div:last-child
{
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #72728c;
    text-transform: uppercase;
    line-height: 0.75;
    letter-spacing: 0.2em;
    margin-left: 4px;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}
.news_post_title
{
    margin-top: 17px;
}
.news_post_title a
{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #181818;
}
.news_post_category
{
    margin-top: -5px;
}
.news_post_category ul li
{
    display: inline-block;
}
.news_post_category ul li a
{
    font-family: 'Oswald', sans-serif;
    font-size: 9px;
    color: #8f8f8f;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.news_post_text
{
    margin-top: 14px;
}

.travello
{
    width: 100%;
    height: 659px;
    overflow: hidden;
}

.travello_content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.travello_content_inner
{
    width: 100%;
    height: 100%;
}

.travello_content_inner > div
{
    position: absolute;
    top: 58%;
    width: 200%;
    height: 100%;
    z-index: 1;
}

.travello_content_inner > div:first-child
{
    left: 0;
    background: rgba(45,143,197,0.7);
    transform-origin: top left;
    transform: rotate(12deg);
}

.travello_content_inner > div:last-child
{
    right: 0;
    background: rgba(237,35,69,0.7);
    transform-origin: top right;
    transform: rotate(-12deg);
}

.travello_container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-bottom: 47px;
}

.travello_container a
{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.travello_container a div
{
    width: 100%;
    height: 100%;
}

.travello_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    max-width: 210px;
    line-height: 1;
}

.travello_subtitle
{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 6px;
    font-weight: 400;
}

/*--------------------------testmonials--------------------------*/

.section-block-parallax{
    padding-bottom: 100px;
    padding-top: 100px;
    background-attachment: fixed;
    background: linear-gradient(to bottom,rgba(0,0,0,.2) 50%,transparent),
    url(images/hotel_desktop.jpg) center top no-repeat;
}

.testmonial-block .radius-img-comment {
    width: 100px;
    font-size: 60px;
    opacity: 0.9;
    position: absolute;
    margin-left: -120px;
}

.testmonial-block .radius-img-comment img
{
    border-radius: 50%;
    border: 2px solid #db1638;
    opacity: 0.8;
    height: 100px;
}

.testmonial-block {
    margin: 0px 120px 0px 150px;    
}
@media screen and (max-width:767px) {
    .testmonial-block {
        margin: 0px 0px 0px 0px;    
    }   
}
@media screen and (max-width:991px) {
    .testmonial-block:before {
        display: none;
    }   
}
.testmonial-block h4{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-align: left;
}
.testmonial-block h6{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
    text-align: left;
    text-transform: uppercase;  
    margin: 10px 0px 10px 0px;
}
.testmonial-block p{
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: #fff;
    text-align: left;
}


.section-block{
    padding: 90px 0px 90px 0px;
    background-color: #fff;
}   

.section-block-grey{
    padding: 90px 0px 90px 0px;
    background-color: #fbfbfb;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


/*-----------------------------video-tintuc------------------------*/

.layout {
    padding: 35px 0px 35px 0px;
    width: 100%;
   
    z-index: 1;
    margin-top: 70px;
}

.layout6 {
    padding-top: 10pt;
    margin-bottom: 50px;
}

.title-thi {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

.title-thi h2 {
    padding: 0;
    display: block;
    margin: 0px 13px 0px 0px;
    color: #000;
    font-size: 24px;
    font-family: 'Roboto-Medium';
    text-transform: uppercase;

}

.title-thi h2 a {
    color: #000;
}

.slider-video-index {
    width: 100%;
    float: left;
}

.col-vi-content {
    width: 100%;
    float: left;
}

.col-vi-content .box-video {
    width: 100%;
    float: left;
}

.col-vi-content .box-video .box-video-content {
    /* height: 415px; */
    height: 365px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.box-list-video {
    width: 100%;
    float: left;
}

.box-list-video .box-image {
    width: 23.4%;
    float: left;
    /* height: 85px; */
    height: 78px;
    position: relative;
    overflow: hidden;
    margin-right: 12px;
}

.box-list-video .box-image a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-new-box {
    width: 100%;
    float: left;
    margin-bottom: 12px;
}

.box-img {
    position: relative;
    
}

.item-new-box .box-img {
    height: 80px;
    width: 80px;
    float: left;
}

.col-tour-hot .box-img img, .col-new img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.box-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.box-info .name-new h4 a{
    color: #000;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}

.box-list-video a:active{
    outline: 0;
}

.item-new-box .box-info {
    margin-left: 90px;
  
}

.name-new h4 {
    height: 34px;
    overflow: hidden;
    font-size: 14px;

    margin: 0px 0px 5px 0px;
}

.name-new h4 a {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto-Medium';
    text-transform: inherit;

}

.item-new-box .box-info .post-content {
    color: #666;
}

.list-new-box .view-all-new {
    text-align: right;

}

.col-100 {
    width: 100%;
    float: left;
}
 
.view-all-new a {
    color: #db1638;
    font-size: 14px;
    font-family: 'Roboto-Light';

}

/*--------------------clients------------------*/

.section-block-parallax{
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    padding: 90px 0px 90px 0px;    
}   

.section-block-bg{
    background-size: cover;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 90px 0px 90px 0px;    
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.slick-slide .inner {
    margin: 0 15px;
    border: none;

}

.slick-slide .inner a{
    text-decoration: none;
}

.slick-slide .inner img{
    opacity: 1;
    height: 130px;
    border: none;
    width: 160px;
    padding: 9px;
    object-fit: cover;
}

.img-zoom:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: .6s all ease;
    -webkit-transition: .6s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
}

.hot-address
{
    padding: 10px;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
    margin-top: 70px;
}


.n3-tour-description .slideshow-pt.col-lg-8 {
    padding-right: 0;
}
.pos-relative {
    position: relative;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/*-----------------tour_details--------------*/
.n3-tour-description .tour-name {
    margin-bottom: 10px;
    line-height: 22px;
}

.n3-tour-description .tour-name a {
    color: #ff002d;
    font-weight: 500;
    font-size: 17.5px;
    text-shadow: 0.5px 0.5px #ffd200;
}

.slideshow-pt img.pic-ss-pt {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slideshow-pt{
    padding-right: 0px;
}

.n3-tour-description .tour-code {
    font-weight: 500;
    color: #000;
}

.n3-tour-description h1{
    text-align: left;
    margin-top: 0px;
    font-family: sans-serif!important;
    text-transform: none;
}

.info{
    margin-top: -15px;
}

.info.col-lg-4 {
    padding-left: 0;
}

.margin-danh-gia{
    margin-left: 10px;
}


.frame-info {
    background: #f1f1f1;
    padding:0px 20px;
   /* height: 500px;*/
}

.sec1 {
    margin-bottom: 15px;
    border-bottom: 1px none #ccc;
}



.frame-rating {
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
}


.sec2 {
    margin-bottom: 15px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;

}

.b {
    color: #ff002d;
    font-weight: 500;
}

.sec3 {
    margin-bottom: 15px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
}

.sec3 .price {
    color: #ff002d;
    font-weight: bold;
    font-size: 18px;
}

.sec3 .unit {
    font-size: 14px;
}

.sec3 .sit {
    color: #ff002d;
    font-size: 14px;
    font-weight: bold;
}

.sec3 .btn-book1 {
    background: #ff425b;
    color: #fff;
    border: 1px solid #ff425b;
    margin-top: 2px;
    border-radius: 0;
}

 .bg-phone {
    position: absolute;
    bottom: -3px;
    right: 0;
}

.n3-tour-detail .menu-left {
    position: relative;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
} 

.n3-tour-detail .menu-left .panel {
    border: none!important;
    background: #f1f1f1;
}

.n3-tour-detail .menu-left .panel-side-menu .panel-body {
    padding: 0!important;
}

.n3-tour-detail .menu-left .side-menu {
    padding: 0;
    list-style: none;
}


.menu-left ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}


.n3-tour-detail .menu-left .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.n3-tour-detail .menu-left .side-menu li.active a {
    background-color: #e8e8e8;
}

.n3-tour-detail .menu-left .side-menu li a {
    padding: 14px 15px;
    text-decoration: none;
    display: block;
    color: #000;
    font-size: 16px;
}

.n3-tour-detail .menu-left .side-menu li.active a i {
    color: #ff002d;
}

.n3-tour-detail .menu-left .side-menu li a i {
    font-size: 16px;
    color: #4c4c4c;
    width: 20px;
}

.n3-tour-detail .services {
    background: #f1f1f1;
    margin-bottom: 30px;
}

.n3-tour-detail .title-lg {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    background: #e1e1e1;
    padding: 3px;
}

.n3-tour-detail .title-lg h2{
    font-size: 16px;
    font-weight: 600;
}

.n3-tour-detail .services .frame-service {
    background: #f1f1f1;
    padding: 10px 15px 15px 15px;
}
ul.list-service{
    padding-left: 5px;
}


.n3-tour-detail .services .frame-service ul.list-service li {
    margin: 10px 0 10px 0!important;
    display: block;
    list-style: none;
    color: #000;
   
    padding-left: 20px;
    font-weight: 400;
}

.n3-tour-detail .menu-left .side-menu li a:hover {
    background: #e1e1e1;
}

.n3-tour-detail .menu-left .side-menu li a:hover i {
    color: #ff002d;
}

.n3-tour-detail .sec-info {
    background: #f1f1f1!important;
    height: auto;
}


.n3-tour-detail .chuongtrinhtour .list {
    float: left;
    padding: 1.5em 0;
    margin-bottom: 3em;
    background: #f1f1f1;
}

.n3-tour-detail .chuongtrinhtour .list .list__item {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.n3-tour-detail .chuongtrinhtour .list .list__item .list__time {
    color: #212121;
    width: 15%;
    text-align: left;
}

.n3-tour-detail .chuongtrinhtour .num {
    font-size: 28px;
    font-weight: bold;
    color: #ff002d;
    margin-bottom: 7px;
}

.day {
    width: 80px;
}


.n3-tour-detail .chuongtrinhtour .list .list__item .list__desc {
    width: 70%;
    color: #212121;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 30px;
    position: relative;
}

.font500 {
    font-weight: 500;
}

.n3-tour-detail .chuongtrinhtour .name {
    padding-bottom: 7px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 7px;
    font-size: 18px;
    color: #007ce6;
}

.n3-tour-detail .chuongtrinhtour .detail {
    text-align: justify;
    line-height: 22px;

    margin-bottom: 10px;
  /*  max-height: 200px;
    overflow-y: hidden;*/
    font-family: 'Roboto',serif!important;
}

.n3-tour-detail .chuongtrinhtour .detail span {
    background: initial!important;
    font-family: 'Roboto',serif!important;
}

.n3-tour-detail .chuongtrinhtour .an-hien a {
    color: #ff002d;
}

.n3-tour-detail .chuongtrinhtour .list .list__item .list__desc .border {
    background: #afafaf;
    width: 3px;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8%;
}

.n3-tour-detail .chuongtrinhtour .list .list__item .list__desc .border:after {
    content: "";
    background: #ff002d;
    border: 3px solid #ffd200;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -9px;
    width: 20px;
    height: 20px;
}

.n3-tour-detail .chuongtrinhtour .list .list__item .list__time {
    color: #212121;
    width: 15%;
    text-align: left;
}

.title {
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    color: #ff002d;
    text-shadow: 1px 1px 2px #ffba8a;
}




.n3-tour-detail .title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 20px;
}

.n3-tour-detail table thead tr {
    font-weight: 600;
    color: #000;
}


.table-bordered>tbody>tr>td{
    color: #000;
}

.note-content{
    color: #000;
}

.n3-tour-detail .chitiettour .note-content, .n3-tour-detail .luuy .attention {
    line-height: 20px;
    text-align: justify;
}

.n3-tour-detail .lienhe .cn .name {
    color: #0089ff;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 18px;
}
.contact p{
    color: #000;
}

/*----------------------------footer---------------------*/
.signUpContainer {
    background-color: #f1f8ff;
    box-shadow: inset 0 0 7px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    padding: 19px 0;
   padding: 30px;
}

.signUpContent {
    width: 96%;
    max-width: 1167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUpImg img {
    width: 232px;
    height: 115px;
}


.signUpText {
    color: #1f1f1f;
    margin: 0 10px;
    line-height: 2.5;
    text-align: left;
}

.signUpText h3 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
}

.signUpText span {
    font-size: 16px;
}


}
.signUpImgResp {
    display: none;
}

.signUpButton {
    background-color: #db1638;
    color: #fff;
    border-radius: 3px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    padding: 0 25px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    line-height: 40px;
    margin-top: 7px;
    white-space: nowrap;
}

footer{
    background: #ebe9e9;
    padding: 60px 0px 60px 0px;
}

footer .footer-name a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

footer p{
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
    line-height: 200%;  
    margin-top: 20px;
}
footer .footer-title h2{
    font-size: 15px;
    color: #4d4d4d;
    font-weight: 500;
}
footer .footer-title h2:after{
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background: #4d4d4d;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width:767px) {
    footer .footer-title h2{
        margin-top: 30px;
    }   
}

footer ul{
    padding-left: 0px;
}
footer ul li{
    font-size: 13px;
    color: #4d4d4d;
    font-weight: 500;   
    list-style-type: none;
    padding: 5px 0px;
}
footer ul li a{
    font-size: 13px;
    color: #4d4d4d;
    font-weight: 500;
}
footer a i{
    font-size: 20px !important;
    color: #000;
    padding: 0px 12px !important;
}
footer input{
    background: #db1638;
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 500;
    border: none;
    padding: 10px 14px;
    border-radius: 4px;
}
footer input::-webkit-input-placeholder {
    color: #fff;
}
footer a:hover{
    color: #db1638 ;
}

.center-holder{
    margin-top: 8px;
}

.center-holder img{

    margin-right: 10px;

}

.n3-list-tour .search-sidebar .btn-search:hover{
    background: #f11b37;
}








/*----------------------alert------------------*/
 .popup-dialog
 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 100%;
    min-height: 657px
}

.cover-popup
{
    position: absolute;
    top: 100px;
    margin: 0 auto;
    width: 100%;
}

.popup-banner
{
    margin: 0 auto;
    width: 600px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
}

.popup-banner img
{
    width: 100%;
}
    
.shadow-background
{
    background-color: rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;

}

.popup-form
{
    max-width: 400px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin: 0 auto;
    max-height: 90vh;
    position: relative;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

.popup-form .form-group
{
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    width: 100%;
}

.popup-form h2
{
    color: #009247;
    font-size: 25px;
    font-family: 'Roboto-Medium';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.popup-form form
{
    margin-top: 20px;
}

.popup-form input
{
    width: 100%;
    border: 1px solid #ebebeb;
}

.popup-form button
{
    background-color: #db1638;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.popup-form button:hover{
    background: #f3465e;
}


/*------------------tour---------------------------*/

.n3-breadcrumb {
    margin-bottom: 10px;
    margin-top: 20px;
}

.n3-breadcrumb .breadcrumb {
    padding: 10px 15px;
    line-height: 22px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.breadcrumb a:hover {
    color: #ff002d;
}

.mg-bot40 {
    margin-bottom: 40px;
}


.mg-bot30 {
    margin-bottom: 30px;
}


.n3-list-tour .search-sidebar {
    background: #f1f1f1;
    color: #212121;
    margin-bottom: 30px;
}


.n3-list-tour .search-sidebar .title, .n3-list-tour .filter-sidebar .title {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 25px
    border-bottom: 1px dashed #ccc;
    padding: 15px;
    font-size: 16px;
    color: #ff002d;
    text-shadow: 1px 1px 2px #ffba8a;
}

.n3-list-tour .search-sidebar .frame-search {
    padding: 15px;
}


.mg-bot15 {
    margin-bottom: 15px;
}

.n3-list-tour .search-sidebar .frame-search label {
    margin-bottom: 7px;
}

.pos-relative {
    position: relative;
}

.n3-list-tour .search-sidebar .frame-search input.form-control, .n3-list-tour .search-sidebar .frame-search select.form-control {
    border-radius: 0;
}

.mg-bot20 {
    margin-bottom: 20px;
}

.n3-list-tour .i-calendar {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #555;
}

.n3-list-tour .search-sidebar .btn-search {
    width: 100%;
    background: #ff425b;
    color: #fff;
    border: none;
    border-radius: 0;
    height: 38px;
    font-size: 16px;
}

.n3-list-tour .list-tour h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 7px;
    text-shadow: 1px 1px #ccc;
    line-height: 24px;
    margin-top: 0px;
    text-align: left;
}

.n3-list-tour .list-tour h1 a{
    text-decoration: none;
    color: #000;
}

.n3-list-tour .list-tour h1 a:hover{
    color: #ff002d;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:15px; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

.rating-view{
    text-align: left;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.n3-list-tour .list-tour .des-content {
    text-align: justify;
    line-height: 23px;
}

.n3-list-tour .des-content .content-tour{
    color: #000;
    text-align: justify;
    line-height: 2;
}

.col-lg-tour-padd  {
    padding-right: 0;
}

.col-lg-tour-padd .frame-day-scroll {
    background: #ff425b;
    color: #fff;
}

.frame-day-scroll .f-day {
    font-size: 24px;
    border-bottom: 1px dashed rgba(255,255,255,.5);
    padding: 5px;
    font-weight: bold;
}

 .frame-day-scroll .f-date {
    font-size: 13px;
    padding: 5px;
}

}
.n3-list-tour .item .tour-name h3 {
    line-height: 1.3;
}


.n3-list-tour .item {
    background: #f4f4f4;
    padding: 15px 15px 15px 15px;
}

.n3-list-tour .item .tour-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.n3-list-tour .item .tour-name a {
    cursor: pointer;
    transition: all linear .15s;
    text-decoration: none;
    color: #000;

}


.n3-list-tour .item .tour-name a:hover{
    color: #ff002d;
}

.n3-list-tour .item .tour-name h3 {
    line-height: 1.3;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1px;

}

.pos-relative {
    position: relative;
}

.badge-promo {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    max-height: 60px;
    z-index: 1;
    padding: 13px 10px 8px 10px;
    border-radius: 2px 2px 0 0;
    color: #fff;
    text-align: left;
}

.badge-promo:before, .badge-promo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.badge-promo-content {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.badge-promo-content i {
    color: #ffb900;
}

.badge-promo:before {
    background: rgba(27,127,204,.8);
    height: 100%;
    width: 110%;
    transform-origin: top right;
    transform: rotate(-3deg);
}

.rating-view-tour-detail{
     border-bottom: none; 
     padding-bottom: 0px; 
     margin-bottom: 0px; 
     width: 100%;
}

.n3-list-tour .list-tour .list .item .l {
    margin-right: 10px;
}
.f-left {
   float: left;
    line-height: 2;
    margin-left: 5px;
    color: #000;

}


.n3-list-tour .list-tour .list .item .r {
    padding-top: 2px;
}

.font500 {
    font-weight: 600;
}

.font500.price{
    color: #ff002d;
}
/*------------------contact--------------------*/
.contact-box-icon {
    margin: 40px 0px 30px 0px;
    border-bottom: 1px solid #eee;
    transition-duration: 0.3s;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.contact-icon i {
    color: #c1c1c1;
    background: #fff;
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    padding: 13px 15px 13px 14px;
    width: 50px !important;
    height: 50px;
    transition-duration: 0.3s;
}

.contact-icon {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 30px;
}

.contact-info {
    float: left;
    width: 75%;
    margin: 10px 0px 20px 0px;
}

.contact-info h5 {
    font-size: 17px;
    font-weight: 600;
    color: #f45832c7;
    margin-bottom: 5px;
}

.contact-info p {
    font-size: 14px;
    font-weight: 600;
    color: #676767;
    margin: 10px 0px 3px 0px;
}


.contact-box-icon:hover .contact-icon i {
    background: #fff;
    color: #676767;
    border: 1px solid #676767;
}

.contact-box-icon:hover {
    border-bottom: 1px solid #f45832;
}

.contact-form input{
    color: #676767;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
    padding: 15px 18px 15px 18px;
    transition-duration: .3s;
}

.contact-form textarea {
    color: #676767;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
    padding: 15px 18px 15px 18px;
    transition-duration: .3s;
}

.contact-form textarea {
    min-height: 180px;
}

.button-md-contact {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 17px 12px 17px;
}
.primary-button {
    background: #f45832;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    transition-duration: .3s;
}

.full-width {
    width: 100%;
}
.rounded-border {
    border-radius: 5px !important;
    border:0px;
}
.mt-20 {
    margin-top: 20px;
}
.center-holder {
    text-align: center;
}

.fa-long-arrow-right{
    display: inline-block;
    color: #bda87f;
    padding-left: 10px;
    margin-left: -20px;
    opacity: 0;
    transition-duration: .3s;
}

.primary-button:hover {
    background: #2d2d2d;
    color: #fff;
    padding-right: 15px;
}


.section-div-block{
    padding-top: 0px!important;
}

.title-tour a{
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    color: #000;
    text-decoration: none;
}

.title-tour a:hover{
    color: #ff002d;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(42, 156, 245, 0);
}

.bg-orange {
    background-color: #ff002d !important;
}

.back-to-top i {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*--------------------------------------blog_details--------------------------*/

.blog-details-content {
    padding: 0px 0 20px 0;
    font-family: "Rubik", sans-serif;
}

.blog-details-content .single-blog-post {
    position: relative;
}

.blog-details-content .single-blog-post .meta-time {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: #f45832;
    padding: 13px 0 0 0;
}

.blog-details-content .single-blog-post .meta-time .date {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    display: block;
}

.blog-details-content .single-blog-post .meta-time .month {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.blog-details-content .single-blog-post .details-container {
    padding-left: 130px;
}

.blog-details-content .single-blog-post .details-container .meta-tags {
    margin-bottom: 10px;
}

.blog-details-content .single-blog-post .details-container .meta-tags ul li:first-child {
    margin-left: 0;
}

.blog-details-content .single-blog-post .details-container .meta-tags ul li {
    display: inline-block;
    margin: 0 18px;
    color: #7c7c90;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.blog-details-content .single-blog-post .details-container .meta-tags ul li i {
    padding-right: 5px;
}

.mr-3{
    float: left;
}

.mt-0{
    margin-top: 0px;
    margin-left: 7px;
}

.meta-time{
    margin-left: 7px;
}

.blog-details-content .single-blog-post .details-container .post-body .title {
    font-size: 30px;
    line-height: 40px;
    color: #262b49;
    margin-bottom: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.blog-details-content .single-blog-post .details-container .post-body p {
    font-size: 16px;
    line-height: 26px;
    color: #7c7c90;
    text-transform: unset;
    text-align: justify;
    color: #000;

}

.max-img{
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content {
    margin-top: 28px;
}

.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content .top-content .right-content {
    float: right;
}

.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content .top-content .title {
    font-size: 18px;
    line-height: 28px;
    color: #121821;
    margin-bottom: 17px;
    font-family: "Rubik", sans-serif;
}

.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content .bottom-content .right-content ul li {
    font-size: 14px;
    line-height: 24px;
    margin: 0 3px;
    display: inline-block;
}

.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content .bottom-content .right-content ul li a {
    color: #939aa4;
    transition: all 0.3s;
}

.single-post-separator {
    padding-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.blog-details-content .comments-area .title {
    margin-bottom: 35px;
    font-family: "Rubik", sans-serif;
    color: #232b37;
    font-weight: 700;
}

.blog-details-content .comments-area .single-comment-item {
    position: relative;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}

.blog-details-content .comments-area .single-comment-item .thumb {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.blog-details-content .comments-area .single-comment-item .content {
    padding-left: 130px;
}

.blog-details-content .comments-area .single-comment-item .content .meta-date {
    font-size: 14px;
    line-height: 24px;
    color: #7c7c90;
    display: block;
    padding-top: 10px;
}

.blog-details-content .comments-area .single-comment-item .content .author-name {
    font-size: 18px;
    line-height: 28px;
    color: #121821;
    font-weight: 700;
    margin-bottom: 12px;
}

.blog-details-content .comments-area .single-comment-item .content p {
    color: #7c7c90;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

.blog-details-content .comments-area .single-comment-item .reply-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #7c7c90;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
}

.blog-details-content .comments-area .single-comment-item .reply-btn i {
    padding-right: 5px;
}

.single-blog-page-separator {
    padding-top: 40px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-details-content .comments-form-area .title {
    font-size: 26px;
    line-height: 36px;
    color: #121821;
    font-weight: 700;
    margin-bottom: 32px;
    font-family: "Rubik", sans-serif;
}

.input-field.borderd {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.input-field.textarea:focus{
    outline: none;
}

.input-field.textarea {
    min-height: 120px;
    padding: 20px 30px;
    margin-bottom: 20px;
    resize: none;
}

.has-icon.textarea .the-icon {
    top: 25px;
}
.has-icon .the-icon {
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #7c7c90;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.submit-btn-login.submit-post {
    border-radius: 30px !important;
}

 .submit-post:hover {
    box-shadow: 0 0 25px 0 #f45832;
}

.widget-area {
    padding: 0px 30px 0px 30px;
}

.widget-area.social {
    text-align: center !important;
}

.widget-area.social .social-links {
    margin-top: 25px;
}

.widget-area.social .social-links li {
    display: inline-block;
    margin: 0 2px;
}

.widget-area.social .social-links li a {
    display: inline-block;
    width: 40px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    color: #555555;
    font-size: 16px;
    transition: all 0.3s;
    color: #000;
}

.widget-area.social .social-links li a:hover.twitter, .widget-area.social .social-links li a:hover.wordpress{
    background-color: #f45832;
    border-color: #f45832;
    color: #fff;
}

.widget-area.social .social-links li a:hover.facebook , .widget-area.social .social-links li a:hover.pinterest ,.widget-area.social .social-links li a:hover.instagram{
    background-color: #f45832;
    border-color: #f45832;
    color: #fff;
}

.sidebar .sidebar-separator {
    padding-top: 40px;
    margin: 0 30px;
    margin-bottom: 35px;
    border-bottom: 1px solid #eaeaea;
}

.widget-area .widget-title h4:before {
    position: absolute;
    right: -60px;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #ebebeb;
    content: '';
    transform: translateY(-50%);
}

.widget-area .widget-title h4:after {
    position: absolute;
    left: -60px;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #ebebeb;
    content: '';
    transform: translateY(-50%);
}

.widget-area .widget-title h4 {
    font-size: 28px;
    line-height: 38px;
    display: inline-block;
    font-weight: 700;
    color: #2e3841;
    position: relative;
    font-family: "Rubik", sans-serif;
}

.widget-area.category .categories {
    margin-top: 15px;
}

.widget-area.category .categories li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.widget-area.category .categories li a {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.widget-area.category .categories li a .count {
    float: right;
}

.widget-area.category .categories li a:hover {
    color: #f45832;
}

.widget-area .widget-title {
    text-align: center!important;
    font-weight: 700px;
}

.widget-area.latest-post .single-latest-post {
    margin-bottom: 18px;
    margin-top: 25px;
}

.widget-area.latest-post .single-latest-post .media .media-body {
    padding-left: 5px;
  

}

.widget-area.latest-post .single-latest-post .media .media-body h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 0;
    transition: all 0.3s ease-in;
    font-family: "Rubik", sans-serif;
     
 
    text-overflow: ellipsis;
  
}

.widget-area.latest-post .single-latest-post .media .media-body .meta-time {
    font-size: 14px;
    line-height: 100%;
    color: #7d7c8f;
}

.widget-area.latest-post .single-latest-post .media a{
    text-decoration: none;
    color: #000;
}


/*------------------------------cehckout-----------------------------------*/
.stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.stepper {
    counter-reset: section;
    overflow-y: auto;
    overflow-x: hidden;
}

.stepper-horizontal li {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

ul.stepper>li:not(:last-of-type) {
    -webkit-transition: margin-bottom .4s;
    -o-transition: margin-bottom .4s;
    transition: margin-bottom .4s;
}

ul.stepper li a {
    text-align: center;
}

ul.stepper li a .circle {
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0,0,0,.38);
    width: 4rem;
    height: 4rem;
    text-align: center;
   
    margin-right: .5rem;
   font-weight: 600;
    font-size: 24px;
}

ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
    background-color: #ff002d!important;
}

ul.stepper li a .label {
    display: inline-block;
    color: rgba(0,0,0,.38);
    font-size: 18px;
    font-weight: initial;
}

ul.stepper li.active a .label, ul.stepper li.completed a .label {
    font-weight: initial;
    color: rgba(0,0,0,.87);
}
.stepper-horizontal li:not(:first-child):before {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: .5rem 0 0 0;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.stepper-horizontal li:not(:last-child):after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: .5rem 0 0 0;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.n3-book-tour-1 .title, .n3-book-tour-2 .title, .n3-book-tour-3 .title {
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    color: #ff002d;
    text-shadow: 1px 1px 2px #ffba8a;
}

 .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.n3-book-tour-1 img.pic-bt {
    width: 100%;
    height: 176px;
    object-fit: cover;
}

.n3-book-tour-1 .tour-name {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
}

.n3-book-tour-1 .tour-name a{
    color: #000;
}

.n3-book-tour-1 .tour-name .cut-name {
    width: 100%;
    height: 22px;
}

.backgroud-none{
    background: #fff;
}


.n3-book-tour-1 .chuy, .n3-book-tour-3 .chuy {
    text-align: justify;
    line-height: 20px;
    margin-top: 10px;
    border-left: 4px solid #ff002d;
    padding: 15px;
    margin-bottom: 10px;
    color: #212121;
    background: #f4f4f4;
}


.color-chu-infor-customer label{
    color: #000;
}
.color-chu-infor-customer input:focus{
    outline: none;
}

.n3-book-tour-1 .frame-rule {
    padding: 15px;
    background: #f4f4f4;
}

.n3-book-tour-1 .rule-content {
    text-align: justify;
    word-wrap: break-word;
    overflow-y: scroll;
    line-height: 22px;
    height: 180px;
    padding-right: 10px;
}


.rule-content p{
    color: #000;
}


.n3-book-tour-1 .btn-book{
    background: #ff425b;
    border-color: #ff425b;
    color: #fff;
    border-radius: 0;
    padding: 7px 17px;
}


.n3-book-tour-1 .btn-book:hover {
    background: #ff002d;
}

/*----------------tin-tuc----------------*/
.img-responsive{
    display: block;
    max-width: 100%;
   
}

img.pic-news-l {
    height: 165px;
    width: 100%;
    object-fit: cover;
}

 .frame-news .frame-top {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

 .frame-news .frame-top .news-title-l {
    margin-bottom: 8px;
    margin-top: 0px;
}

 .frame-news .frame-top .news-title-l a {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    font-weight: 500;
    transition: all linear .15s;
}

 .frame-news .frame-top .news-title-l a.cut-name {
    height: 24px;
    width: 100%;
}

.frame-news .frame-top .frame-date {
    color: #7a7a7a;
}

.frame-date .date {
    margin-left: 7px;
    padding-top: 2px;
}

.frame-news .frame-bot .des-content {
    line-height: 18px;
    text-align: justify;
    margin-bottom: 7px;
    color: #888;
}

 .frame-news .frame-bot .des-content.cut-content {
    max-height: 80px;
    width: 100%;
}

.text-right {
    text-align: right;
} 

 .frame-news .frame-bot a.view_more {
    color: #ff002d;
}

.frame-news .frame-top .news-title-l a:hover {
    color: #ff002d;
}

 .total-wrap .total {
    padding: 1em;
    background: whitesmoke;
    width: 100%;
}

.total-wrap .total {
  padding: 1em;
  background: whitesmoke;
  width: 100%; }
  .total-wrap .total .sub {
    border-bottom: 1px solid #FF9600;
    margin-bottom: 10px; }
  .total-wrap .total p {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
    .total-wrap .total p span {
      width: 48%;
      display: inline-block; }
      .total-wrap .total p span:last-child {
        font-weight: 500; }
  .total-wrap .total .grand-total p span:last-child {
    color: #FF9600;
    font-weight: 500; }

    div.post-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

div.post-summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
 /* -webkit-box-orient: vertical;*/
 /* -webkit-box-orient: horizontal;*/
}
     /*--------------------------------đăng nhập--------------------*/                                      
     .login-page-content-area {
    padding: 120px 0;
}

.login-page-content-area .login-page-wrapper {
    border: 2px solid #f0f0f0;
    padding: 72px 80px 80px 80px;
    position: relative;
    z-index: 0;
}

.login-page-content-area .login-page-wrapper .or {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #f0f0f0;
    line-height: 80px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 12px;
    transform: translate(-50%, -50%);
}


.login-page-content-area .left-content-area {
    padding-right: 80px;
}

.login-page-content-area .login-page-wrapper .top-content {
    margin-bottom: 37px;
}

.login-page-content-area .login-page-wrapper .top-content .title {
    font-family: "Rubik", sans-serif;
    color: #232b37;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 12px;
}

.login-page-content-area .login-page-wrapper .top-content p {
    color: #7d7c8f;
    font-size: 14px;
    line-height: 24px;
}

.login-page-content-area .left-content-area .bottom-content {
    display: inline-block;
    position: relative;
}

.login-page-content-area .left-content-area .bottom-content .left-content {
    min-height: 120px;
    position: absolute;
    left: 0;
    top: 0;
}

.login-page-content-area .left-content-area .bottom-content .left-content .thumb img {
    max-width: 120px;
    border-radius: 50%;
    box-shadow: 0 0 25px 0 rgba(42, 156, 245, 0.5);
}

.login-page-content-area .left-content-area .bottom-content .right-content {
    padding-left: 150px;
}

.right-content ul li {
    color: #ffd3c8;
    font-family: "Rubik", sans-serif;
    display: inline-block;
    transition: all 0.3s ease-in;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
}

.login-page-content-area .left-content-area .bottom-content .right-content ul li:first-child {
    margin-top: 0;
}

.login-page-content-area .left-content-area .bottom-content .right-content ul li {
    margin: 8px 0;
}

.login-page-content-area .left-content-area .bottom-content .right-content ul li.active a {
    color: #fff;
    background-color: #f45832;
}

.btn-wrapper:hover.submit-logout{
    color: #fff;
}

.login-page-content-area .left-content-area .bottom-content .right-content ul li a {
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    color: #d0cee1;
    transition: all 0.3s ease-in;
}

.login-page-content-area .left-content-area .bottom-content .right-content ul li:hover a {
    box-shadow: 0 0 25px 0 #f45832;
}

.login-page-content-area .right-contnet-area {
    padding-left: 80px;
}

.login-page-content-area .login-page-wrapper .top-content {
    margin-bottom: 37px;
}

.login-page-content-area .login-page-wrapper .top-content .title {
    font-family: "Rubik", sans-serif;
    color: #232b37;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 12px;
}

.login-page-content-area .right-contnet-area .bottom-content .login-form .form-element .input-field {
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    border-radius: 30px;
    border: 2px solid #f0f0f0;
    margin-bottom: 20px;
}

.submit-btn-login {
    width: 250px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #f45832;
    border: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.submit_logout{
    width: 250px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #f45832;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;

}

.login-page-content-area .right-contnet-area .bottom-content .login-form .btn-wrapper .submit-btn-login {
    display: inline-block;
    width: 160px;
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
}

.login-page-content-area .right-contnet-area .bottom-content .login-form .btn-wrapper .link {
    display: inline-block;
    text-decoration: none;
    float: right;
    color: #f45832;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
}

.login-page-content-area .login-page-wrapper:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    transform: translate(-50%, -50%);
    z-index: -1;
}

.form-element .input-field::placeholder{
    color: #ccc;
}

.login-page-content-area .right-contnet-area .bottom-content .login-form .btn-wrapper .submit-btn-login:hover {
    box-shadow: 0 0 25px 0 #f45832;
}
.body-overlay-sign-up {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 99999999;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.body-overlay-sign-up .x-hidden{
    float: right;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.body-overlay-sign-up .x-hidden:hover{
    color: #f45832;
}

.active-sign-up {
    visibility: visible;
    opacity: 1;
}
.active-slider-sidebar {
    visibility: visible;
    opacity: 1;
}

.all-sign-up{
    background: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.all-sign-up .form-element h2{
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 30px;
    font-size: 27px;

}

.search-popup .search-popup-form .form-element .input-sign-up{
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    margin-left: 17px;
    width: 95%;
}

.acc_btn{
    margin-bottom: 30px;
    margin-top: 25px;
    height: 40px;
}

.btn-default {
    color: #eee;
    background-color: #f45832;
    border-color: #f45832;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #eee;
    background-color: #f45832;
    border-color: #f45832;
     box-shadow: 0px 4px 30px 0px #f45832;
}

.center-button{
    text-align: center;
}

.acc_btn:focus{
    outline: none;
}
.body-overlay .x-hidden{
    float: right;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.body-overlay .x-hidden:hover{
    color: #f45832;
}
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
    padding: 0;
    margin: 0;
}
#at4-follow-label, #at4-share-label, #at4-whatsnext-label, .at4-recommended-label.hidden {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    text-indent: -9999em;
}
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
    padding: 0;
    margin: 0;
}

.slideInDown.addthis-animated, .slideInLeft.addthis-animated, .slideInRight.addthis-animated, .slideInUp.addthis-animated, .slideOutDown.addthis-animated, .slideOutLeft.addthis-animated, .slideOutRight.addthis-animated, .slideOutUp.addthis-animated {
    animation-duration: .4s;
}


.slideInLeft {
    animation-name: slideInLeft;
}

.addthis-animated {
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: .3s;
}

.atss-left {
    left: 0;
    float: left;
    right: auto;
}

.atss {
    position: fixed;
    top: 20%;
    width: 3pc;
    z-index: 100020;
    background: none;
}



.atss .at-share-btn span .at-icon, .atss a span .at-icon {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
     background-position: 50% 50%; 
     width: 2pc; 
     height: 2pc; 
    line-height: 1111pc;
    border: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
}

.atss .at-share-btn {
    border: 0;
    padding: 0;
}

.addthis_32x32_style .at-icon {
    width: 2pc;
    height: 2pc;
}
.atss .at-share-btn, .atss a {
    position: relative;
    display: block;
    width: 3pc;
    
    margin: 0;
    outline-offset: -1px;
    text-align: center;
    float: left;
    transition: width .15s ease-in-out;
    overflow: hidden;
    background: #e8e8e8;
    z-index: 100030;
    cursor: pointer;
}

.at4-visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}

.atss .at-share-btn .at-icon-wrapper, .atss a .at-icon-wrapper {
    display: block;
    padding: 8px 0;
}

a .at-icon-wrapper {
    cursor: pointer;
}

.at-icon-wrapper {
    display: inline-block;
    overflow: hidden;
}
title {
    display: none;
}

.atss .at-share-btn:focus, .atss .at-share-btn:hover, .atss a:focus, .atss a:hover {
    width: 4pc;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.at-icon {
    fill: #fff;
    border: 0;
}
.at4-share .at4-share-count, .at4-share .at4-share-count-container {
    line-height: 1pc;
    font-size: 10px;
}

.at4-share .at4-share-count-container {
    position: absolute;
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: inherit;
}

.at4-share .at4-share-count {
    text-indent: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 200;
    width: 100%;
    height: 1pc;
}

.at4-share .at4-share-count, .at4-share .at4-share-count-container {
    line-height: 1pc;
    font-size: 10px;
}

.at4-visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}

